include LICENSE
include README.md

recursive-include spyctral *.py

exclude tox.ini
exclude pyproject.toml
exclude .header-template
exclude .readthedocs.yml

recursive-exclude docs *
recursive-exclude tests *
recursive-exclude add_on *
